.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "navbar navbar" "main main" "pieDePag pieDePag";
  }
  
  .containerProyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
    gap: 0px 0px;
    grid-template-areas: "navbar navbar" "tituloMayuscula tituloMayuscula" "galeria galeria" "footerProyectos footerProyectos";
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f2f2f2;
    font-family: "Inter", sans-serif;
  }
  
  .navbar {
    grid-area: navbar;
    height: 105px;
    z-index: 5;
  }
  .navbar .logo {
    margin-left: 50px;
    width: 150px;
    background-size: cover;
  }
  .navbar .menu {
    position: fixed;
    background-color: rgba(242, 242, 242, 0.768627451);
    height: 105px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgb(41, 41, 41) 1px solid;
  }
  .navbar .menu .menuItems {
    list-style: none;
    display: flex;
    margin-right: 30px;
  }
  .navbar .menu .menuItems li {
    margin: 0 5px;
  }
  .navbar .menu .menuItems li a {
    text-decoration: none;
    color: gray;
    padding: 7px 17px;
    font-size: 18px;
  }
  .navbar .menu .menuItems li a:hover {
    background-color: rgba(167, 163, 163, 0.253);
    text-decoration: underline;
    color: black;
    transition: 0.4s;
  }
  
  .btnMenu {
    margin-right: 30px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
  }
  
  ul.show {
    top: 95px;
  }
  
  .pieDePag, .footerProyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    background-color: #202121;
    color: #fff;
    font-size: medium;
    gap: 0px 0px;
    grid-template-areas: "contactoIconos links" "derechos derechos";
    grid-area: pieDePag;
  }
  .pieDePag .contactoIconos, .footerProyectos .contactoIconos {
    width: 70%;
    padding-top: 50px;
    grid-area: contactoIconos;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
  }
  .pieDePag .contactoIconos .iconos, .footerProyectos .contactoIconos .iconos {
    padding: 20px 0px;
  }
  .pieDePag .contactoIconos .iconos a, .footerProyectos .contactoIconos .iconos a {
    color: #fff;
    margin-right: 20px;
  }
  .pieDePag .links, .footerProyectos .links {
    width: 90%;
    grid-area: links;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .pieDePag .links a, .footerProyectos .links a {
    text-decoration: none;
    color: #fff;
  }
  .pieDePag .links a:hover, .footerProyectos .links a:hover {
    font-weight: bold;
  }
  .pieDePag .derechos, .footerProyectos .derechos {
    grid-area: derechos;
    color: #fff;
    margin-left: 13%;
  }
  .pieDePag .derechos .linea, .footerProyectos .derechos .linea {
    border-bottom: solid 1px #fff;
    height: 10px;
    width: 85%;
  }
  
  .main {
    grid-area: main;
    background-image: url(../img/fondo.svg);
    background-size: cover;
  }
  
  .carousel-inner {
    height: 520px;
  }
  .carousel-inner .carousel-item .img {
    background-size: cover;
  }
  
  .textoYFoto {
    display: flex;
    flex-direction: row;
  }
  .textoYFoto .textoIzq {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    font-size: 19px;
    padding: 40px;
  }
  .textoYFoto .imgDer {
    width: 50%;
    height: 500px;
    background-size: cover;
  }
  
  .textoYFoto2 {
    display: flex;
    flex-direction: row-reverse;
  }
  .textoYFoto2 .textoDer {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    font-size: 19px;
    padding: 40px;
  }
  .textoYFoto2 .imgIzq {
    width: 50%;
    height: 500px;
    background-size: cover;
  }
  
  .nosotrosYPerfiles {
    height: 800px;
    background-color: #202121;
  }
  .nosotrosYPerfiles .titulo {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
    font-size: 23px;
    color: #202121;
    color: #f2f2f2;
  }
  .nosotrosYPerfiles .nosotros {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f2f2f2;
  }
  .nosotrosYPerfiles .nosotros .agus {
    width: 45%;
    margin: 20px;
    line-height: 1.8;
    font-size: 18px;
  }
  .nosotrosYPerfiles .nosotros .cris {
    width: 45%;
    margin: 20px;
    line-height: 1.8;
    font-size: 18px;
  }
  
  .agus img, .cris img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-size: cover;
    margin-bottom: 15px;
    filter: grayscale(100%);
  }
  
  .footerProyectos {
    grid-area: footerProyectos;
    background-color: #f2f2f2;
    color: #202121;
  }
  .footerProyectos .contactoIconos .iconos a {
    color: #202121;
  }
  .footerProyectos .links a {
    color: #202121;
  }
  .footerProyectos .derechos {
    color: #202121;
  }
  .footerProyectos .derechos .linea {
    border-bottom: solid 1px #202121;
  }
  
  .tituloMayuscula {
    grid-area: tituloMayuscula;
    text-align: center;
    color: #202121;
    padding: 50px 0px;
    font-size: 20px;
    border-bottom: 1px solid black;
    text-transform: uppercase;
  }
  .tituloMayusculaCronograma{
    grid-area: tituloMayuscula;
    text-align: center;
    color: #202121;
    padding: 50px 0px;
    font-size: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-transform: uppercase;
  }

  .tituloMayuscula .animacion {
    animation-name: aparicion;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-delay: 0s;
  }

  .tituloMayusculaCronograma .animacion {
    animation-name: aparicion;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-delay: 0s;
  }
  
  .objetivo{
    padding: 50px;
  }

  @keyframes aparicion {
    from {
      transform: translateX(-900px);
    }
    to {
      transform: translateX(0px);
    }
  }
  .galeria {
    grid-area: galeria;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    height: 1600px;
    display: grid;
    padding: 10%;
    background-color: #202121;
  }
  .galeria .img {
    background-color: white;
    border-radius: 10px;
  }
  .galeria .img:hover {
    transform: scale(1.5);
    transition: 1.3s;
  }
  
  .img1 {
    grid-column: 1/2;
    grid-row: 1/5;
    background-image: url(../img/galeria\ alta.jpg);
    background-size: cover;
  }
  
  .img2 {
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url(../img/galeria.jpg);
    background-size: cover;
  }
  
  .img3 {
    grid-column: 3/4;
    grid-row: 1/4;
    background-image: url(../img/galeria\ alta2.jpg);
    background-size: cover;
  }
  
  .img4 {
    grid-column: 4/5;
    grid-row: 1/5;
    background-image: url(../img/galeria\ alta3.jpg);
    background-size: cover;
  }
  
  .img5 {
    grid-column: 5/6;
    grid-row: 1/3;
    background-image: url(../img/galeria2.jpg);
    background-size: cover;
  }
  
  .img6 {
    grid-column: 1/2;
    grid-row: 5/7;
    background-image: url(../img/galeria3.jpg);
    background-size: cover;
  }
  
  .img7 {
    grid-column: 2/3;
    grid-row: 3/6;
    background-image: url(../img/galeria4.jpg);
    background-size: cover;
  }
  
  .img8 {
    grid-column: 3/4;
    grid-row: 4/8;
    background-image: url(../img/galeria5.jpg);
    background-size: cover;
  }
  
  .img9 {
    grid-column: 4/5;
    grid-row: 5/8;
    background-image: url(../img/galeria6.jpg);
    background-size: cover;
  }
  
  .img10 {
    grid-column: 5/6;
    grid-row: 3/6;
    background-image: url(../img/galeria7.jpg);
    background-size: cover;
  }
  
  .img11 {
    grid-column: 1/2;
    grid-row: 7/10;
    background-image: url(../img/galeria8.jpg);
    background-size: cover;
  }
  
  .img12 {
    grid-column: 2/3;
    grid-row: 6/9;
    background-image: url(../img/galeria9.jpg);
    background-size: cover;
  }
  
  .img13 {
    grid-column: 3/4;
    grid-row: 8/10;
    background-image: url(../img/galeria10.jpg);
    background-size: cover;
  }
  
  .img14 {
    grid-column: 4/5;
    grid-row: 8/11;
    background-image: url(../img/galeria11.jpg);
    background-size: cover;
  }
  
  .img15 {
    grid-column: 5/6;
    grid-row: 6/10;
    background-image: url(../img/galeria12.jpg);
    background-size: cover;
  }
  
  .img16 {
    grid-column: 1/2;
    grid-row: 10/14;
    background-image: url(../img/galeria13.jpg);
    background-size: cover;
  }
  
  .img17 {
    grid-column: 2/3;
    grid-row: 9/13;
    background-image: url(../img/galeria14.jpg);
    background-size: cover;
  }
  
  .img18 {
    grid-column: 3/4;
    grid-row: 10/14;
    background-image: url(../img/galeria\ alta9.jpg);
    background-size: cover;
  }
  
  .img19 {
    grid-column: 4/5;
    grid-row: 11/15;
    background-image: url(../img/galeria19.jpg);
    background-size: cover;
  }
  
  .img20 {
    grid-column: 5/6;
    grid-row: 10/13;
    background-image: url(../img/galeria20.jpg);
    background-size: cover;
  }
  
  .img21 {
    grid-column: 1/2;
    grid-row: 14/17;
    background-image: url(../img/galeria\ alta6.jpg);
    background-size: cover;
  }
  
  .img22 {
    grid-column: 2/3;
    grid-row: 13/17;
    background-image: url(../img/galeria\ alta7.jpg);
    background-size: cover;
  }
  
  .img23 {
    grid-column: 3/4;
    grid-row: 14/17;
    background-image: url(../img/galeria\ alta8.jpg);
    background-size: cover;
  }
  
  .img24 {
    grid-column: 4/5;
    grid-row: 15/17;
    background-image: url(../img/planos3.jpg);
    background-size: cover;
  }
  
  .img25 {
    grid-column: 5/6;
    grid-row: 13/17;
    background-image: url(../img/galeria\ alta10.jpg);
    background-size: cover;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .card-title {
    color: #252850;
    font-weight: bold;
  }
  
  .card-img {
    height: 200px;
    background-size: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  .containerContacto {
    display: flex;
    justify-content: center;
  }
  .containerContacto .contactoCaja {
    width: 300px;
    border-radius: 20px;
    background-color: #202121;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px 10px;
    margin: 70px 50px 100px 0px;
  }
  .containerContacto .contactoCaja .contactoHeader h3 {
    color: #e7eef3;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 100;
  }
  .containerContacto .contactoCaja .contactoInputs {
    display: flex;
    flex-direction: column;
  }
  .containerContacto .contactoCaja .contactoInputs input {
    height: 45px;
    width: 250px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(251, 251, 251, 0.1);
    outline: none;
    margin: 10px;
    box-sizing: border-box;
    color: #f4f4f4;
  }
  .containerContacto .contactoCaja .contactoInputs textarea {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #525252;
    color: #f4f4f4;
    margin: 10px;
    padding: 10px;
    height: 250px;
    width: 250px;
  }
  .containerContacto .contactoCaja .contactoInputs button {
    height: 40px;
    width: 251px;
    background-color: #e7eef3;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 100;
    margin: 10px;
  }
  .containerContacto .mapa {
    margin: 70px 0px 100px 0px;
  }
  .containerContacto .mapa iframe {
    max-width: 100%;
    height: 400px;
  }
  
  .cardsContainer {
    height: 370px;
    width: 100%;
  }
  .cardsContainer .cards {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
  }
  .cardsContainer .cardItem {
    color: #202121;
    background-color: white;
    text-align: center;
    height: auto;
    width: 270px;
    padding: 15px;
    border-radius: 10px;
    line-height: 1.7;
  }

  .juego{
    padding: 50px;
  }

  .juegoimg{
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .metricas{
    padding-top: 50px;
  }
  
  .mapa{
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 50%;
    height: 500px;
  }
  
  @media screen and (min-width: 1600px) {
    .textoYFoto2 .textoDer {
      line-height: 1.8;
      font-size: 25px;
      padding: 40px;
    }
    .textoYFoto2 .imgIzq {
      width: 50%;
      height: 600px;
      background-size: cover;
    }
  
    .textoYFoto .textoIzq {
      line-height: 1.8;
      font-size: 25px;
      padding: 40px;
    }
    .textoYFoto .imgDer {
      width: 50%;
      height: 600px;
      background-size: cover;
    }
  }
  @media screen and (max-width: 1196px) {
    .carousel-inner {
      height: 400px;
    }
  }
  @media screen and (max-width: 950px) {
    .carousel-inner {
      height: 350px;
    }
  
    .navbar .logo {
      margin: 10px 0px 10px 50px;
      width: 120px;
    }
    .navbar .menu .menuItems li a {
      font-size: 16px;
      padding: 5px 15px;
    }
  
    .nosotrosYPerfiles {
      height: auto;
    }
    .nosotrosYPerfiles .titulo {
      margin: 0;
    }
    .nosotrosYPerfiles .nosotros .agus img, .nosotrosYPerfiles .nosotros .cris img {
      margin: 2px;
      height: 150px;
      width: 150px;
    }
  
    .nosotrosYPerfiles {
      height: auto;
    }
    .nosotrosYPerfiles .nosotros {
      flex-direction: column;
      align-items: center;
    }
    .nosotrosYPerfiles .nosotros .agus img, .nosotrosYPerfiles .nosotros .cris img {
      margin: 2px;
      height: 150px;
      width: 150px;
    }
  
    .agus p, .cris p, .textoDer, .textoIzq {
      font-size: 16px;
    }
  
    .tituloMayuscula {
      font-size: medium;
    }
  
    .containerContacto {
      flex-direction: column;
      align-items: center;
    }
    .containerContacto .contactoCaja {
      margin: 25px 0 0 0;
    }
  
    .mapa {
      margin: 0;
    }
  
    .cardsContainer {
      height: auto;
    }
    .cardsContainer .cards {
      flex-direction: column;
      align-items: center;
    }
    .cardsContainer .cards .cardItem {
      margin: 20px;
    }
  
    .galeria {
      grid-template-columns: repeat(3, 1fr);
      height: 2700px;
    }
  
    .img4 {
      grid-column: 1/2;
      grid-row: 17/20;
    }
  
    .img5 {
      grid-column: 2/3;
      grid-row: 17/19;
    }
  
    .img9 {
      grid-column: 3/4;
      grid-row: 17/19;
    }
  
    .img10 {
      grid-column: 1/2;
      grid-row: 20/22;
    }
  
    .img14 {
      grid-column: 2/3;
      grid-row: 19/22;
    }
  
    .img15 {
      grid-column: 3/4;
      grid-row: 19/22;
    }
  
    .img19 {
      grid-column: 1/2;
      grid-row: 22/25;
    }
  
    .img20 {
      grid-column: 2/3;
      grid-row: 22/25;
    }
  
    .img24 {
      grid-column: 3/4;
      grid-row: 22/25;
    }
  }
  @media screen and (max-width: 858px) {
    .main {
      background-size: auto;
      background-position: center;
    }
  
    .navbar .menu {
      height: 95px;
      position: relative;
    }
    .navbar .menu .btnMenu {
      display: inline-flex;
      padding: 35px;
    }
  
    .menuItems {
      position: fixed;
      width: 100vw;
      height: calc(100% - 95px);
      background: #5c5f5f;
      top: -100vh;
      text-align: center;
      transition: all 0.4s;
      flex-direction: column;
      padding: 0;
    }
  
    .navbar .menu .menuItems li {
      margin: 30px 0 0 0;
      line-height: 30px;
    }
    .navbar .menu .menuItems li a {
      font-size: 20px;
      color: #ffffff;
    }
    .navbar .menu .menuItems li a:hover {
      color: rgb(3, 3, 3);
    }
  
    .carousel-inner {
      height: 300px;
    }
  
    .textoYFoto {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .textoYFoto .textoIzq {
      width: 80%;
      height: auto;
      line-height: 1, 6;
      font-size: 18px;
      padding: 0;
      margin: 30px 0;
    }
    .textoYFoto .imgDer {
      width: 100%;
    }
  
    .textoYFoto2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .textoYFoto2 .imgIzq {
      width: 100%;
    }
    .textoYFoto2 .textoDer {
      width: 80%;
      height: auto;
      line-height: 1, 6;
      font-size: 18px;
      padding: 0;
      margin: 30px 0;
    }
  
    .servicioItem {
      height: auto;
      width: 200px;
      padding: 10px;
      margin: 20px;
      font-size: small;
    }
  
    .galeria {
      grid-template-columns: 1fr 1fr;
      height: 4500px;
    }
  
    .img3 {
      grid-column: 1/2;
      grid-row: 25/28;
    }
  
    .img8 {
      grid-column: 2/3;
      grid-row: 25/29;
    }
  
    .img13 {
      grid-column: 1/2;
      grid-row: 28/30;
    }
  
    .img18 {
      grid-column: 2/3;
      grid-row: 29/33;
    }
  
    .img23 {
      grid-column: 1/2;
      grid-row: 30/33;
    }
  }
  @media screen and (max-width: 726px) {
    .carousel-inner {
      height: 250px;
    }
  }
  @media screen and (max-width: 650px) {
    .galeria {
      grid-template-columns: 1fr;
      grid-gap: 10px 0;
      height: 10000px;
    }
    .galeria .img:hover {
      transform: scale(1);
    }
  
    .img2 {
      grid-column: 1/2;
      grid-row: 33/35;
    }
  
    .img7 {
      grid-column: 1/2;
      grid-row: 35/37;
    }
  
    .img12 {
      grid-column: 1/2;
      grid-row: 37/40;
    }
  
    .img17 {
      grid-column: 1/2;
      grid-row: 40/44;
    }
  
    .img22 {
      grid-column: 1/2;
      grid-row: 44/48;
    }
  
    .img5 {
      grid-column: 1/2;
      grid-row: 48/51;
    }
  
    .img14 {
      grid-column: 1/2;
      grid-row: 51/54;
    }
  
    .img20 {
      grid-column: 1/2;
      grid-row: 54/57;
    }
  
    .img8 {
      grid-column: 1/2;
      grid-row: 57/60;
    }
  
    .img18 {
      grid-column: 1/2;
      grid-row: 60/64;
    }
  }
  @media screen and (max-width: 594px) {
    .carousel-inner {
      height: 200px;
    }
  
    .textoYFoto .imgDer {
      height: 300px;
    }
  
    .textoYFoto2 .imgIzq {
      height: 300px;
    }
  
    .pieDePag, .footerProyectos {
      grid-template-columns: 1fr;
      grid-template-rows: 0.7fr 1fr 0.3fr;
      grid-template-areas: "links" "contactoIconos" "derechos";
    }
    .pieDePag .contactoIconos, .footerProyectos .contactoIconos {
      width: 70%;
      text-align: center;
      justify-self: center;
      padding-top: 5px;
    }
    .pieDePag .links, .footerProyectos .links {
      justify-self: center;
      padding-top: 5px;
    }
  
    .agus p, .cris p, .textoDer, .textoIzq, .nosotros, .pieDePag, .footerProyectos, .textoHero, .servicioItem, .cardItem, .tituloMayuscula {
      font-size: small;
    }
  
    .cardsContainer .cards .cardItem {
      height: 200px;
      width: 200px;
    }
  }
  @media screen and (max-width: 466px) {
    .navbar .logo {
      width: 100px;
    }
  
    .carousel-inner {
      height: 150px;
    }
  
    .nosotrosYPerfiles {
      height: auto;
    }
    .nosotrosYPerfiles .titulo {
      margin: 0;
    }
    .nosotrosYPerfiles .nosotros .agus img, .nosotrosYPerfiles .nosotros .cris img {
      margin: 2px;
      height: 100px;
      width: 100px;
    }
  }
  @media screen and (max-width: 300px) {
    .carousel-inner {
      height: 100px;
    }
  }
  
  /*# sourceMappingURL=style.css.map */