// MEDIAS
@media screen and (min-width: 1600px){
    // home y nosotros
    .textoYFoto2{
        .textoDer{
            line-height: 1.8; 
            font-size: 25px;
            padding: 40px;
        }
        .imgIzq{
            @include img-texto(50%, 600px, cover)
        }
    }
    .textoYFoto{
        .textoIzq{
            line-height: 1.8; 
            font-size: 25px;
            padding: 40px;
        }     
        .imgDer{
            @include img-texto(50%, 600px, cover);
        }
    }
}
@media screen and (max-width: 1196px){
    // home y nosotros
    .carousel-inner{
        height: 400px;
    }
}
@media screen and (max-width: 950px){
    // home y nosotros
    .carousel-inner{
        height: 350px;
    }
    // menu
    .navbar{
        .logo {
            margin: 10px 0px 10px 50px;
            width: 120px;
        }
        .menu .menuItems li a{
            font-size: 16px;
            padding: 5px 15px;
        }
    }
    // nosotros
    .nosotrosYPerfiles{
        height: auto;
        .titulo{
            margin: 0;
        }
        .nosotros{
            .agus img, .cris img{
                margin: 2px;
                @include alto-ancho(150px, 150px);
            }
        }
    }
    .nosotrosYPerfiles{
        height: auto;
        .nosotros{
            flex-direction: column;
            align-items: center;
            .agus img, .cris img{
                margin: 2px;
                @include alto-ancho(150px, 150px);
            }
        }
    }
    .agus p, .cris p, .textoDer, .textoIzq{
        font-size: 16px;
    }
    //CONTACTO
    .tituloMayuscula{
        font-size: medium;
    }
    .containerContacto{
        flex-direction: column;
        align-items: center;
        .contactoCaja{
            margin: 25px 0 0 0;
        }
    }
    .mapa{
        margin: 0;
    }
    .cardsContainer{
        height: auto;
        .cards{
            flex-direction: column;
            align-items: center;
            .cardItem{
                margin: 20px;
            }
        }
    }
    // GALERIA
    .galeria{
        grid-template-columns: repeat(3, 1fr);
        height: 2700px;
    }
    .img4{
        grid-column: 1/2;
        grid-row: 17/20;
    }
    .img5{
        grid-column: 2/3;
        grid-row: 17/19;
    }
    .img9{
        grid-column: 3/4;
        grid-row: 17/19;
    }
    .img10{
        grid-column: 1/2;
        grid-row: 20/22;
    }
    .img14{
        grid-column: 2/3;
        grid-row: 19/22;
    }
    .img15{
        grid-column: 3/4;
        grid-row: 19/22;
    }
    .img19{
        grid-column: 1/2;
        grid-row: 22/25;
    }
    .img20{
        grid-column: 2/3;
        grid-row: 22/25;
    }
    .img24{
        grid-column: 3/4;
        grid-row: 22/25;
    }
}
@media screen and (max-width: 858px){
    .main {
        background-size: auto;
        background-position: center;
    }

    // MENU
    .navbar {
        .menu{
            height: 95px;
            position: relative;
            .btnMenu{
                display: inline-flex;
                padding: 35px;
            }
        }
    }
    .menuItems{
        position: fixed;
        width: 100vw;
        height: calc(100% - 95px);
        background: #5c5f5f;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        padding: 0;
    }
    .navbar .menu .menuItems li{
        margin: 30px 0 0 0;
        line-height: 30px;
        a{
            font-size: 20px;
            color: #ffffff;
            &:hover{
                color: rgb(3, 3, 3);
            }
        }
    }
    // home y nosotros
    .carousel-inner{
        height: 300px;
    }
    .textoYFoto{
        display: flex;
        flex-direction: column;
        align-items: center;
        .textoIzq{
            width: 80%;
            height: auto;
            line-height: 1,6;
            font-size: 18px;
            padding: 0;
            margin: 30px 0;
        }
        .imgDer{
            width: 100%;
        }
    }
    .textoYFoto2{
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgIzq{
            width: 100%;
        }
        .textoDer{
            width: 80%;
            height: auto;
            line-height: 1,6;
            font-size: 18px;
            padding: 0;
            margin: 30px 0;
        }
    }
    // SERVICIOS
    .servicioItem{
        @include alto-ancho(auto, 200px);
        padding: 10px;
        margin: 20px;
        font-size: small;
    }
    // GALERIA
    .galeria{
        grid-template-columns: 1fr 1fr;
        height: 4500px;
    }
    .img3{
        grid-column: 1/2;
        grid-row: 25/28;
    }
    .img8{
        grid-column: 2/3;
        grid-row: 25/29;
    }
    .img13{
        grid-column: 1/2;
        grid-row: 28/30;
    }
    .img18{
        grid-column: 2/3;
        grid-row: 29/33;
    }
    .img23{
        grid-column: 1/2;
        grid-row: 30/33;
    }
}
@media screen and (max-width: 726px){
    // home y nosotros
    .carousel-inner{
        height: 250px;
    }
}
@media screen and (max-width: 650px){
    // GALERIA
    .galeria{
        grid-template-columns: 1fr;
        grid-gap: 10px 0;
        height: 10000px;
        .img{
            &:hover{
                    transform: scale(1);
            }
        }
    }
    .img2{
        grid-column: 1/2;
        grid-row: 33/35;
    }
    .img7{
        grid-column: 1/2;
        grid-row: 35/37;
    }
    .img12{
        grid-column: 1/2;
        grid-row: 37/40;
    }
    .img17{
        grid-column: 1/2;
        grid-row: 40/44;
    }
    .img22{
        grid-column: 1/2;
        grid-row: 44/48;
    }
    .img5{
        grid-column: 1/2;
        grid-row: 48/51;
    }
    .img14{
        grid-column: 1/2;
        grid-row: 51/54;
    }
    .img20{
        grid-column: 1/2;
        grid-row: 54/57;
    }
    .img8{
        grid-column: 1/2;
        grid-row: 57/60;
    }
    .img18{
        grid-column: 1/2;
        grid-row: 60/64;
    }
}
@media screen and (max-width: 594px){
    // home y nosotros
    .carousel-inner{
        height: 200px;
    }
    .textoYFoto {
        .imgDer{
            height: 300px;
        }
    }
    .textoYFoto2 {
        .imgIzq{
            height: 300px;
        }
    }
    // FOOTER
    .pieDePag{ 
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 1fr 0.3fr;
        grid-template-areas: 
            "links"
            "contactoIconos"
            "derechos";
            .contactoIconos{
                width: 70%;
                text-align: center;
                justify-self: center;
                padding-top: 5px;
            }
            .links{
                justify-self: center;
                padding-top: 5px;
            }
    }
    // generales
    .agus p, .cris p, .textoDer, .textoIzq, .nosotros, .pieDePag, .textoHero, .servicioItem, .cardItem, .tituloMayuscula{
        font-size: small;
    }
    // contacto
    .cardsContainer{
        .cards{
            .cardItem{
                @include alto-ancho(200px, 200px);
            }
        }
    }
}
@media screen and (max-width: 466px){
    // home y nosotros 
    .navbar{
        .logo{
            width: 100px;
        }
    }
    .carousel-inner{
        height: 150px;
    }
    .nosotrosYPerfiles{
        height: auto;
        .titulo{
            margin: 0;
        }
        .nosotros{
            .agus img, .cris img{
                margin: 2px;
                @include alto-ancho(100px, 100px);
            }
        }
    }
}
@media screen and (max-width: 300px){
    // home y nosotros
    .carousel-inner{
        height: 100px;
    }
}